{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home_index/home_index.css' %}">
    <title>Thesis Manager</title>
  </head>
  <body>
    <script src="{% static 'home_index/home_index.js' %}"></script>

    <div class="video-container">
      <video autoplay muted loop>
        <source src="{% static 'home_index/Tulum_Pier.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </body>
</html>
