{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home_index/home_index.css' %}">
    <title>Thesis Manager</title>
  </head>
  <body>

    <div class="video-container">
      <video autoplay muted loop>
        <source src="{% static 'home_index/Tulum_Pier.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="header_and_button">
      <h1 class="header1">thesis manager</h1>
      <button class="button" onclick="document.getElementById('id01').style.display='block'" style="width:auto;" ><span>sign in</span></button>
    </div>

    <div id="id01" class="modal">
      <form class="modal-content animate" action="{% url 'auth' %}" method="post">
        {% csrf_token %}
        <div class="container">
          <h2 class="header2">thesis manager</h2>
          <input type="text" placeholder="Username" name="uname" required><br>

          <input type="password" placeholder="Password" name="psw" required><br>

            <button type="submit" class="buttons login">Login</button>
      </div>

      </form>
    </div>
    <script src="{% static 'home_index/home_index.js' %}"></script>

  </body>
</html>
