.new-commission, .existing-commission
{
  position: absolute;
  width: 20%;
  -webkit-transition: visibility 0s, opacity 0.5s , position 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s, position 0.5s  ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s, position 0.5s  ease-in-out;
  transition: visibility 0s, opacity 0.5s, position 0.5s  ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  margin-top: 4%;
  text-align: center;
  height: 0;
}

.bin
{
  margin-bottom: 20%;
}

.bin label
{
  position: relative;
}

.section input[type="radio"], input[type="checkbox"]
{
  display: none;
}

.section {
  padding-right: 50%;
  padding-top: 0;
  padding-left: 50%;
}

#man-date-section
{
  padding-right: 35%;
  padding-top: 0%;
  padding-left: 50%;
}

.ids
{
  display: none;
}

.bin span::before, .bin span::after
 {
  content: '';
  bottom: 0;
  top: 0;
  margin: auto;
  position: absolute;
}

.bin span.radio:hover
{
  cursor: pointer;
}

.bin span.radio::before
{
  height: 1.5em;
  width: 2.8em;
  left: -3.2em;
  border-radius: 3.1em;
  background-color: #fff;
  border: 1px solid #84868C;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s;
}

.bin span.radio::after
{
  box-shadow: 0 4px 5px -3px #3C3D40;
  -moz-box-shadow: 0 4px 5px -3px #3C3D40;
  -webkit-box-shadow: 0 4px 5px -3px #3C3D40;
  left: -3.05em;
  width: 1.35em;
  height: 1.35em;
  border-radius: 0.6em;
  background-color: #002240;
  -webkit-transition: left 0.5s ease, background 0.5s ease;
  -moz-transition: left 0.5s ease, background 0.5s ease;
  -o-transition: left 0.5s ease,background 0.5s ease;
  transition: left 0.5s ease, background 0.5s ease;
}
input[type="radio"]:checked + label span.radio:before
{
  background-color: #002240;
}

input[type="radio"]:checked + label span.radio:after
{
  left: -1.7em;
  background-color: #fff;
}


.automatic-date, .manual-date
{
  display: none;
  margin-top: 10%;
}

.hide-seek
{
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.symbol
{
  height: 5em;
  background-color: #002240;
  width: 5em;
  border-radius: 50%;
  margin: auto;
}

.date
{
  margin-top: 3%;
}

.checkboxes {
  padding-right: 50%;
  padding-top: 0;
  padding-left: 50%;
}

.checkbox-container label {
  position: relative;
}

.checkbox-container
{
  padding-top: .6em;
}

.checkbox-container span::before, .checkbox-container span::after
 {
  content: '';
  bottom: 0;
  top: 0;
  margin: auto;
  position: absolute;
}

.checkbox-container span::before {
  width: 1em;
  height: 1em;
  background-color: #fff;
  left: -2.2em;
  box-sizing: border-box;
  transition: border-color .2s;
  border: 1px solid #002280;

}

.checkbox-container span::after {
  content: '\2713';
  left: -2.1em;
  top: -0.1em;
  color: #fff;
  transition: color .2s;
}
input[type="checkbox"]:checked + label span::after {
  color: #002240;
}


.steps > div
{
  display: none;
}

.symbol span
{
  font-size:5.8em;
  color: #fff;
}

.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  background-color: #fff;
}

.submit
{
  display: none;
}

.error-msg
{
  display: none;
  color: red;
}

.buttons-down
{
  width: 100%;
}

.prev
{
  width: 49%;
  float: left;
  display: none;
}

.date-selected
{
  padding-bottom: 1em;
}

.date-chosen
{
  background-color: #002240;
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  display: inline-flex;
  padding-left: 0.4em;
  padding-right: 1.5em;
  cursor: pointer;
}

.date-chosen span
{
  color: #fff;
  padding-left: 1em;
  margin-right: -1em;
}

.final-message
{
  display: inline;

}


.simple-table, .simple-table th, .simple-table td
{
  border-collapse: collapse;
  margin: auto;
  border: 1px solid black;
  width: 100%;
  font-size: 1.2em;
}

.simple-table th,td
{
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.simple-table td
{
  text-align: center;
  cursor: pointer;
}
.simple-table td:hover
{
  background-color: #002240 !important;
  color: #fff !important;
}


.load-field
{
  display: none;
}
