.management-listing, .students-listing, .commissions-listing, .thesis-listing
{
  position: relative;
  width: 60%;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  margin-top: 4%;
  height: 0;
  text-align: center;
}


.table-des table
{
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  color: black;

}

.table-des th
{
  font-weight: normal;
  border-bottom: 1px solid #0073D9;
  color: #0073D9;
  text-align: center;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-top: 1em;
  text-transform: uppercase;
  width: 25%;
}

.table-des tr
{
  cursor: pointer;
}

.table-des td
{
  text-align: center;
  padding-left: 0.15em;
  padding-left: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  color: #0065BF;
}

.border
{
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

.box
{
  width: 100%;
}

.box hr
{
  width: 70%;
  border-top: 1px;
  border-color: #0065BF;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}


.table-des tr:hover, .table-des tr:hover + tr .box hr {
  width: 100%;

}

.information span
{
  font-weight: bold;
}

.information-cell
{
  border: 1px solid #002240;
  background-color: #F2F3F5;
  color: #002240 !important;
  display: none;
}


.first_row
{
  float: left;
  text-align: left;
}

.second_row
{
  float: right;
  text-align: left;
  padding-right: 0.5em;
}

form
{
  display: inline;
}

.remove-icon
{
  margin-left: 1em;
  color: #002240;
  font-size: 1em;
  cursor: pointer;
  display: inline;
}


.thesis-information, .reviewer-information, .student-reviewer-information, .student-commission-information
{
  display: inline;
}

.input-valid
{
  display: none;
}

.remove
{
  display: none;
}

.edit-icon
{
  height: 4em;
  width: 4em;
  float: right;
  margin-right: -4em;
  margin-top: -2em;
}

.submit-form
{
  text-align: center;
  width: 40%;
  margin: auto;
  margin-top: 1em;
  display: none;
  min-width: 4em;
}

.bin
{
  margin-bottom: 20%;
}

.bin label
{
  position: relative;
}

.section input[type="radio"], input[type="checkbox"]
{
  display: none;
}

.section {
  padding-right: 38%;
  padding-top: 0;
  padding-left: 38%;
}

.bin span::before, .bin span::after
 {
  content: '';
  bottom: 0;
  top: 0;
  margin: auto;
  position: absolute;
}

.bin span.radio:hover
{
  cursor: pointer;
}

.bin span.radio::before
{
  height: 1.5em;
  width: 2.8em;
  left: -3.2em;
  border-radius: 3.1em;
  background-color: #fff;
  border: 1px solid #84868C;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s;
}

.bin span.radio::after
{
  box-shadow: 0 4px 5px -3px #3C3D40;
  -moz-box-shadow: 0 4px 5px -3px #3C3D40;
  -webkit-box-shadow: 0 4px 5px -3px #3C3D40;
  left: -3.05em;
  width: 1.35em;
  height: 1.35em;
  border-radius: 0.6em;
  background-color: #002240;
  -webkit-transition: left 0.5s ease, background 0.5s ease;
  -moz-transition: left 0.5s ease, background 0.5s ease;
  -o-transition: left 0.5s ease,background 0.5s ease;
  transition: left 0.5s ease, background 0.5s ease;
}
input[type="radio"]:checked + label span.radio:before
{
  background-color: #002240;
}

input[type="radio"]:checked + label span.radio:after
{
  left: -1.7em;
  background-color: #fff;
}


.search
{
  display: inline;
  margin: auto;
  width: 70%;
  text-align: right;
}


.search input
{
  width: 100%;
  border: 1px solid #0065BF;
  padding: 1em;
  color: #0065BF;
}

@media screen and (max-width:770px)
{
  .table td
  {
    font-size: 0.9em;
  }

}

@media screen and (max-width:550px)
{
  .table-des table
  {
    font-size: .8em;
  }
}

@media screen and (max-width:450px)
{
  .table-des
  {
    width: 80%;
  }

  .edit-icon
  {
    height: 2em;
    width: 2em;
    margin-right: -2em;
    margin-top: -1em;
  }
}


@media screen and (max-width:430px)
{
  .table
  {
    width: 90%;
  }

  .table td
  {
    font-size: 1em;
  }
}

@media screen and (max-width:375px)
{
  .table
  {
    width: 95%;
  }
}

@media screen and (max-width:320px)
{
  .table
  {
    width: 98%;
  }
}
