.save-a-year, .load-a-year, .delete-a-year
{
  position: relative;
  width: 20%;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  margin-top: 4%;
  height: 0;
  text-align: center;
}

.simple-table, .simple-table th, .simple-table td
{
  border-collapse: collapse;
  margin: auto;
  border: 1px solid black;
  width: 60%;
  font-size: 1.2em;
}

.simple-table th,td
{
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.simple-table td
{
  text-align: center;
  cursor: pointer;
}
.simple-table td:hover
{
  background-color: #002240 !important;
  color: #fff !important;
}

.load-button, .delete-button
{
  margin-top: 5%;
}

.delete-button
{
  background-color: #8C0500;
}

.del-field, .load-field
{
  display: none;
}

.error_msg
{
  color: red;
  margin-top: 15%;
  display: none;
}
