h1, h2
{
  font-weight: normal;
  font-family: 'Josefin Slab', serif;
}

.main-content
{
  font-family: 'Josefin Slab', serif;
}

.buttons
{
  width: 60%;
  padding-top: 20%;
  padding-bottom: 5%;
  margin: auto;
}


.first
{
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  background-color: #002240;
  float: left;
  border: 1px solid #002240;
  -webkit-transition: background 0.6s ease-in-out;
  -moz-transition: background 0.6s ease-in-out;
  -o-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
  cursor: pointer;
}

.first:hover .tick::before
{
  color: #002240;
}

.first:hover
{
  background: #fff;
}

.tick::before
{
  content: '\2713';
  font-size: 4em;
  color: #fff;
  font-family: 'Josefin Slab', serif;
  overflow: hidden;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  -o-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}


a
{
  text-decoration: none;
}

.second
{
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #fff;
  float: right;
  border: 1px solid #002240;
  -webkit-transition: background 0.6s ease-in-out;
  -moz-transition: background 0.6s ease-in-out;
  -o-transition: background 0.6s ease-in-out;
  transition: background 0.6s ease-in-out;
  cursor: pointer;
}

.cross::before
{
  content: '\2717';
  font-size: 4em;
  color: #002240;
  font-family: 'Josefin Slab', serif;
  overflow: hidden;
  -webkit-transition: color 0.6s ease-in-out;
  -moz-transition: color 0.6s ease-in-out;
  -o-transition: color 0.6s ease-in-out;
  transition: color 0.6s ease-in-out;
}
.second:hover .cross::before
{
  color: #fff;
}

.second:hover
{
  background: #002240;
}

.message{
  color: red;
}

@media screen and (max-width:370px)
{
  .buttons
  {
    padding-top: 15em;
  }

  .buttons div
  {
    width: 3em;
    height: 3em;
  }

  .tick::before, .cross::before
  {
    font-size: 2.5em;
  }
}
