.upload-a-student, .add-a-student
{
  position: relative;
  width: 20%;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  margin-top: 4%;
  height: 0;
  text-align: center;
}

.upload-a-student p
{
  margin-top: 0;
}

@media screen and (max-width:770px)
{
  input
  {
    width: 100%;
  }
}

@media screen and (max-width:470px)
{
  .add-a-student, .upload-a-student
  {
    margin-top: 10%;
    width: 35%;
  }
}
