.upload-a-thesis, .add-a-thesis
{
  position: relative;
  width: 20%;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
  -o-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  margin-top: 4%;
  height: 0;
  text-align: center;
}

input[type="text"]
{
  width: 60%;
  font-family: 'Josefin Slab', sans-serif;
  color:#002240;
  padding: 0.3em;
}

.bottom-p
{
  margin-top: 20%;
}


@media screen and (max-width:770px)
{
  .add-a-thesis, .upload-a-thesis
  {
    margin-top: 10%;
    width: 35%;
  }
  input
  {
    width: 100%;
  }
}

@media screen and (max-width:560px)
{
  h1
  {
    font-size: 1.25em;
  }
}


@media screen and (max-width:470px)
{
  .add-a-thesis, .upload-a-thesis
  {
    margin-top: 10%;
    width: 50%;
  }
}
