{% extends 'base.html' %}

{% block title %}Admin Homepage{% endblock %}

{% block extra_head %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_homepage_other/admin_homepage.css' %}">

{% endblock %}

{% block content %}
  {% load static %}

  <h1 id="document-header"> Students without document </h1>
  <div class="search">
    <img id="search-icon" class="document" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
    <input id="document-search" type="text" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
  </div>
  <table id="document" class="document">
    <tr>
      <th>Student Name</th>
      <th>Class</th>
      <th></th>
    </tr>
    {% if students_list %}
      {% for student in students_list %}
      <tr>
        <td>{{ student.student_name }}</td>
        <td>{{ student.student_class }}</td>
        <td>
            <a><div class="assign">Assign</div></a>
        </td>
      </tr>
      {% endfor %}

    {% endif %}
   </table>

   <h1 id="assignment-header"> Students without assignment </h1>
   <div class="search">
     <img id="search-icon" class="assignment" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
     <input id="assignment-search" type="text" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
   </div>
   <table id="assignment" class="assignment">
     <tr>
       <th>Student Name</th>
       <th>Class</th>
       <th></th>
     </tr>
  </table>


    <h1 id="reviewer-header"> Students without reviewer </h1>
    <div class="search">
      <img id="search-icon" class="reviewer" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
      <input id="reviewer-search" type="text" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
    </div>
    <table id="reviewer" class="reviewer">
      <tr>
        <th>Student Name</th>
        <th>Class</th>
        <th></th>
      </tr>
   </table>

   <h1 id="commission-header"> Students without commission </h1>
   <div class="search">
     <img id="search-icon" class="commission" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
     <input id="commission-search" type="text" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
   </div>
   <table id="commission" class="commission">
     <tr>
       <th>Student Name</th>
       <th>Class</th>
       <th></th>
     </tr>
     <script src="{% static 'admin_homepage_other/script.js' %}"></script>

  </table>
{% endblock %}
