{% extends 'base.html' %}

{% block title %}Admin Homepage{% endblock %}

{% block extra_head %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_homepage_other/admin_homepage.css' %}">

{% endblock %}

{% block content %}

  <h1 id="document-header"> Students without document </h1>
  <div class="search">
    <img id="search-icon" class="document-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
    <input id="document-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
    <div id="document-pointer" class="pointer"></div>
  </div>
  <table id="document" class="document">
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Class</th>
        <th></th>
      </tr>
    </thead>
  </table>
  <div style="display:none;">
  <table id="document" class="document">
    <tbody>
    {% if students_list_document %}
      {% for student in students_list_document %}
      <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.class_char }}</td>
        <td>
            <a href="{% url 'assign_document' student.id %}"><div class="assign">Assign</div></a>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
  </div>



     <h1 id="assignment-header"> Students without assignment </h1>
     <div class="search">
       <img id="search-icon" class="assignment-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
       <input id="assignment-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
       <div id="assignment-pointer" class="pointer"></div>
     </div>
     <table id="assignment" class="assignment">
       <thead>
       <tr>
         <th>Student Name</th>
         <th>Class</th>
         <th></th>
       </tr>
      </thead>
     </table>
     <div style="display:none">
     <table id="assignment" class="assignment">
       <tbody>
       {% if students_list_assignment %}
         {% for student in students_list_assignment %}
         <tr>
           <td>{{ student.name }}</td>
           <td>{{ student.class_char }}</td>
           <td>
               <a href="{% url 'handed_assignment_over' student.id %}"><div class="assign">Assign</div></a>
           </td>
         </tr>
         {% endfor %}
       {% endif %}
      </tbody>
     </table>
    </div>


   <h1 id="thesis-header"> Students without assigned thesis </h1>
   <div class="search">
     <img id="search-icon" class="thesis-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
     <input id="thesis-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
     <div id="thesis-pointer" class="pointer"></div>
   </div>
   <table id="thesis" class="thesis">
     <thead>
     <tr>
       <th>Student Name</th>
       <th>Class</th>
       <th></th>
     </tr>
    </thead>
   </table>
   <div style="display:none">
   <table id="thesis" class="thesis">
     <tbody>
     {% if students_list_thesis %}
       {% for student in students_list_thesis %}
       <tr>
         <td>{{ student.name }}</td>
         <td>{{ student.class_char }}</td>
         <td>
             <a href="{% url 'standard_thesis' student.id %}"><div class="assign">Assign</div></a>
         </td>
       </tr>
       {% endfor %}
     {% endif %}
    </tbody>
   </table>
  </div>


    <h1 id="documentation-header"> Students without documentation </h1>
    <div class="search">
      <img id="search-icon" class="documentation-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
      <input id="documentation-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
      <div id="documentation-pointer" class="pointer"></div>
    </div>
    <table id="documentation" class="documentation">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Class</th>
          <th></th>
        </tr>
      </thead>
    </table>
    <div style="display:none">
    <table id="documentation" class="documentation">
      <tbody>
      {% if students_list_documentation %}
        {% for student in students_list_documentation %}
        <tr>
          <td>{{ student.name }}</td>
          <td>{{ student.class_char }}</td>
          <td>
              <a href="{% url 'handed_documentation_over' student.id %}"><div class="assign">Assign</div></a>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    </table>
    </div>



    <h1 id="reviewer-header"> Students without reviewer </h1>
    <div class="search">
      <img id="search-icon" class="reviewer-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
      <input id="reviewer-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
      <div id="reviewer-pointer" class="pointer"></div>
    </div>
    <table id="reviewer" class="reviewer">
      <thead>
        <tr>
          <th>Student Name</th>
          <th>Class</th>
          <th></th>
        </tr>
      <thead>
    </table>
    <div style="display:none">
    <table id="reviewer" class="reviewer">
      <tbody>
      {% if students_list_reviewer %}
        {% for student in students_list_reviewer %}
        <tr>
          <td>{{ student.name }}</td>
          <td>{{ student.class_char }}</td>
          <td>
              <a href="{% url 'reviewer_assign' student.id %}"><div class="assign">Assign</div></a>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
      </tbody>
    </table>
    </div>

   <h1 id="commission-header"> Students without commission </h1>
   <div class="search">
     <img id="search-icon" class="commission-search" src="{% static 'admin_homepage_other/search-icon.png' %}" alt="search-icon">
     <input id="commission-search" type="text" onkeyup="filter_function(this)" name="search" placeholder="Search..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search...'">
     <div id="commission-pointer" class="pointer"></div>
   </div>
   <table id="commission" class="commission">
     <thead>
       <tr>
         <th>Student Name</th>
         <th>Class</th>
         <th></th>
       </tr>
     </thead>
   </table>
   <div style="display:none">
   <table id="commission" class="commission">
     <tbody>
     {% if students_list_commission %}
       {% for student in students_list_commission %}
       <tr>
         <td>{{ student.name }}</td>
         <td>{{ student.class_char }}</td>
         <td>
             <a href="{% url 'commission_assign' student.id %}"><div class="assign">Assign</div></a>
         </td>
       </tr>
       {% endfor %}
     {% endif %}
   </tbody>
  </table>
  </div>

  <script src="{% static 'admin_homepage_other/script.js' %}"></script>
{% endblock %}
