<!DOCTYPE html>
<html>
  <head>
    <title> Admin Panel </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="admin_homepage_other/admin_homepage.css">
  </head>

  <body class="none">
    <ul class="nav" id="navigation">
      <li id="icon" class="icon" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </li>
      <li id="finyear"><a href="#news">Finish A Year</a></li>
      <li id="newyear"><a href="#contact">Create A New Year</a></li>
      <li id="greetings"><a href="#about">Welcome, ...</a></li>
    </ul>

    <div id="sidenav" class="sidenav">
      <a href="#newstudent">Add A New Student</a>
      <a href="#">Upload Students</a>
      <a href="#">Add A New Teacher</a>
      <a href="#">Upload Teachers</a>
      <a href="#">Add A New Thesis</a>
      <a href="#">Upload Thesis Topics</a>
      <a href="#">Add A New Reviewer</a>
      <a href="#">Upload Reviewers</a>
      <a href="#">Assign A New Commission</a>
      <a href="#">Listing</a>
      <a href="#">Exit</a>
    </div>



    <script src="admin_homepage_other/script.js"></script>
    <div class="main-content" id="main">

      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
      <img src="http://www.w3schools.com/css/img_fjords.jpg" alt="Mountain View" >
    </div>
  </body>



</html>
