{% extends 'base.html' %}


{% block title %}Assigning assignment{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/assignment_assign.css' %}">
{% endblock %}

{% block content %}

  {% load static %}
      <h1> Assigning {{ student.name }}'s assignment</h1>
        <div class="tables">
          <table class="simple-table table_one">
            <caption>Student</caption>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Class</th>
              <th>GPA</th>
            </tr>
            <tr class="chosen-one">
              <td>{{ student.number }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.class_char }}</td>
              <td>{{ student.progress }}</td>
            </tr>
            <table class="simple-table table_two">
              <caption>Place by {{ thesis.0.name }}</caption>
              <thead class="head">
                <tr>
                  <th>Number</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>GPA
                    <div class="button-assign">
                      <div class="assign"><a href="{% url 'finilize' thesis.0.id %}"><div class="tick"></div></a></div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody class="body">
                {% if students_output %}
                  {% for student_choice in students_output.0 %}
                    {% if student_choice.id == student.id %}
                      <tr class="chosen-one">
                    {% else %}
                      <tr>
                    {% endif %}
                        <td>{{ student_choice.number }}</td>
                        <td>{{ student_choice.name }}</td>
                        <td>{{ student_choice.class_char }}</td>
                        <td>{{ student_choice.progress }}</td>
                      </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          <table class="simple-table table_three">
            <caption>Place by {{ thesis.1.name }}</caption>
            <thead class="head">
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>GPA
                  <div class="button-assign">
                    <div class="assign"><a href="{% url 'finilize' thesis.1.id %}"><div class="tick"></div></a></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="body">
              {% if students_output %}
                {% for student_choice in students_output.1 %}
                  {% if student_choice.id == student.id %}
                    <tr class="chosen-one">
                  {% else %}
                    <tr>
                  {% endif %}
                      <td>{{ student_choice.number }}</td>
                      <td>{{ student_choice.name }}</td>
                      <td>{{ student_choice.class_char }}</td>
                      <td>{{ student_choice.progress }}</td>
                    </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
          <table class="simple-table table_four">
            <caption>Place by {{ thesis.2.name }}</caption>
            <thead class="head">
              <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Class</th>
                <th>GPA
                  <div class="button-assign">
                    <div class="assign"><a href="{% url 'finilize' thesis.2.id %}"><div class="tick"></div></a></div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="body">
              {% if students_output %}
                {% for student_choice in students_output.2 %}
                  {% if student_choice.id == student.id %}
                    <tr class="chosen-one">
                  {% else %}
                    <tr>
                  {% endif %}
                      <td>{{ student_choice.number }}</td>
                      <td>{{ student_choice.name }}</td>
                      <td>{{ student_choice.class_char }}</td>
                      <td>{{ student_choice.progress }}</td>
                    </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>

    <script src="{% static 'other_pages_other/footer_nav.js' %}"></script>
    <script src="{% static 'other_pages_other/assignment_assign.js' %}"></script>
{% endblock %}
