{% extends 'base.html' %}


{% block title %}Commission Assign{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/commission_assign.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}

  {% load static %}
        <h1>Assigning {{student.name}}'s commission</h1>
        <div class="option-buttons">
          <table class="table" id="commission">
            <tr>
              <td><div class="new">New</div></td>
              <td><div class="existing">Existing</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="new-commission">
              <form id="new-form" action=" {% url 'new_commission_handler' %}" method="post">
                {% csrf_token %}
                <script>
                  var all_members = [];
                </script>
                {% for member in members %}
                <script>
                 var mem ={
                    id: "{{member.id}}",
                    value: "{{member.name}}"
                 };
                 all_members.push(mem);
                </script>
                {% endfor %}

                <div class="hide-seek">
                  <label for="Chairman">Chairman:</label><br>
                  <input id="Chairman" type="text" name="Chairman" class="member"><br>
                  <input name="ChairmanId" class="ids"/>
                  <label for="Member1">Member №1:</label><br>
                  <input id="Member1" type="text" name="Member1Id" class="member"><br>
                  <input name="Member1Id" class="ids"/>
                  <label for="Member2">Member №2:</label><br>
                  <input id="Member2" type="text" name="Member2Id" class="member"><br>
                  <input name="Member2Id" class="ids"/>
                  <label for="Member3">Member №3:</label><br>
                  <input id="Member3" type="text" name="Member3Id" class="member"><br>
                  <input name="Member3Id" class="ids"/>
                  <label for="Place">Place:</label><br>
                  <input id="Place" type="text" name="Place" data-validation="length custom" data-validation-length="max50" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>

                  <h3 class="heading">Automatic or manual date:</h3>
                  <section class="section" id="date-section">
                    <div class="bin">
                      <input type="radio" name="auto/manual" id="automatic">
                      <label for="automatic">
                        <span class="radio">Automatic Date</span>
                      </label>
                    </div>
                    <div class="bin">
                      <input type="radio" name="auto/manual" id="manual">
                      <label for="manual">
                        <span class="radio">Manual Date</span>
                      </label>
                    </div>
                  </section>
                  <p class="error-msg"> Input value duplicates or doesn't exist </p>
                </div>
                <div class="automatic-date">
                  <div class="steps">
                    <div class="step-1">
                      <div class="symbol"><span>1</span></div>
                      <div class="date">Date: <input type="text" class="datepicker" id="1" readonly></div>
                      <div class="date-selected"></div>
                      Morning or Afternoon:
                      <section class="checkboxes">
                          <div class="checkbox-container">
                            <input id="morning1" class="morning" type="checkbox" name="check" value="morning">
                            <label for="morning1"><span class="checkboxes">Morning</span></label>
                          </div>
                          <div class="checkbox-container">
                            <input id="afternoon1" class="afternoon" type="checkbox" name="check" value="afternoon">
                            <label for="afternoon1"><span class="checkboxes">Afternoon</span></label>
                          </div>
                      </section>
                    </div>
                    <div class="step-2">
                      <div class="symbol"><span>2</span></div>
                      <div class="date">Date: <input type="text" class="datepicker" id="2" readonly></div>
                      <div class="date-selected"></div>
                      Morning or Afternoon:
                      <section class="checkboxes">
                          <div class="checkbox-container">
                            <input id="morning2" class="morning" type="checkbox" name="check" value="morning">
                            <label for="morning2"><span class="checkboxes">Morning</span></label>
                          </div>
                          <div class="checkbox-container">
                            <input id="afternoon2" class="afternoon" type="checkbox" name="check" value="afternoon">
                            <label for="afternoon2"><span class="checkboxes">Afternoon</span></label>
                          </div>
                      </section>
                    </div>
                    <div class="step-3">
                      <div class="symbol"><span>3</span></div>
                      <div class="date">Date: <input type="text" class="datepicker" id="3" readonly></div>
                      <div class="date-selected"></div>
                      Morning or Afternoon:
                      <section class="checkboxes">
                          <div class="checkbox-container">
                            <input id="morning3" class="morning" type="checkbox" name="check" value="morning">
                            <label for="morning3"><span class="checkboxes">Morning</span></label>
                          </div>
                          <div class="checkbox-container">
                            <input id="afternoon3" class="afternoon" type="checkbox" name="check" value="afternoon">
                            <label for="afternoon3"><span class="checkboxes">Afternoon</span></label>
                          </div>
                      </section>
                    </div>
                    <div class="step-4">
                      <div class="symbol"><span>4</span></div>
                      <div class="date">Date: <input type="text" class="datepicker" id="4" readonly></div>
                      <div class="date-selected"></div>
                      Morning or Afternoon:
                      <section class="checkboxes">
                          <div class="checkbox-container">
                            <input id="morning4" class="morning" type="checkbox" name="check" value="morning">
                            <label for="morning4"><span class="checkboxes">Morning</span></label>
                          </div>
                          <div class="checkbox-container">
                            <input id="afternoon4" class="afternoon" type="checkbox" name="check" value="afternoon">
                            <label for="afternoon4"><span class="checkboxes">Afternoon</span></label>
                          </div>
                      </section>
                    </div>
                    <div class="step-5">
                      <div class="symbol"><span>5</span></div>
                      <p class="final-message"></p>
                    </div>
                  </div>
              </div>
              <div class="manual-date">
                <label for="ManualDate">Manual Date:</label><br>
                <input id="ManualDate" type="text" name="ManualDate" class="datepicker" readonly><br>
                <section class="section" id="man-date-section">
                  <div class="bin">
                    <input type="radio" name="morning/afternoon" id="man_morning" value="morning" checked>
                    <label for="man_morning">
                      <span class="radio">Morning</span>
                    </label>
                  </div>
                  <div class="bin">
                    <input type="radio" name="morning/afternoon" id="man_afternoon" value="afternoon">
                    <label for="man_afternoon">
                      <span class="radio">Afternoon</span>
                    </label>
                  </div>
                </section>
              </div>
              <div class="buttons-down">
                <a><div class="prev">Back</div></a>
                <a><div class="next">Next</div></a>
                <a><div class="submit">Submit</div></a>
              </div>
            </form>
          </div>
          <div class="existing-commission">
            <form id="simple-form" action=" {% url 'existing_commission_handler' %}" method="post">
              {% csrf_token %}
              <table class="simple-table">
                <tr>
                  <th>Name</th>
                </tr>
                {% if commissions %}
                  {% for commission in commissions %}
                  <tr>
                    <td id="{{commission.id}}">{{ commission.name }}</td>
                  </tr>
                  {% endfor %}
                {% endif %}
              </table>
              <input class="load-field" type="text" name="load">
              <a><div class="submit-load">Submit</div></a>
            </form>
          </div>
          <div id="spacer" style="width: 200px; height: 100px; float:left; display:inline-block"></div>

        </div>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
    <script src="{% static 'other_pages_other/commission_assign.js' %}"></script>
{% endblock %}
