<!DOCTYPE html>
<html>
  <head>
    <title>Approve Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="other_pages_other/footer_nav.css">
    <link rel="stylesheet" type="text/css" href="other_pages_other/container_css.css">
    <link rel="stylesheet" type="text/css" href="other_pages_other/document_approve.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body class="none">
    <div class="container">
      <ul class="nav" id="navigation">
        <li id="icon" class="icon" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </li>
        <li id="finyear"><a href="#news">Manage Years</a></li>
        <li id="newyear"><a href="#contact">Start A School Year</a></li>
        <li id="greetings"><a href="#about">Welcome, ...</a></li>
      </ul>

      <div id="sidenav" class="sidenav">
        <a href="#">Upload Students</a>
        <a href="#">Upload Teachers</a>
        <a href="#">Upload Thesis Topics</a>
        <a href="#">Upload Reviewers</a>
        <a href="#">Listing</a>
        <a href="#">Exit</a>
        <div class="document">
          <div id="bubble1"></div>
          <div id="bubble2"></div>
          <div id="bubble3"></div>
        </div>
      </div>



      <div class="main-content" id="main">
        <h1>Approving ...'s document</h1>
        <div class="option-buttons">
          <table class="table" id="topic">
            <tr>
              <td><div class="prearranged">Prearranged</div></td>
              <td><div class="standard">Standard</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="prearranged-topic">

            <form>
              Topic:<br> <input type="text" name="FullName" required><br>
              Supervisor:<br> <input type="text" name="Title" required><br>

              <a href="#"><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="standard-topic">
            <form>
              <div class="heading">
                1-st choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                2-nd choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                3-rd choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                Average progress between 9-th and 11-th grade
              </div>
              Progress:<br> <input type="number" name="Progress" step="0.01"  min="2.00" max="6.00" required><br>

              <a href="#"><div class="submit">Submit</div></a>
            </form>
          </div>
        </div>
      </div>


      <div class="footer">
        <div class="line1"></div>
        <div class="line2"></div>
        <a href="http://www.elsys-bg.org/">
          <img src="http://www.elsys-bg.org/wp-content/themes/elsys/images/logo.png" alt="Elsys Logo">
        </a>
        <div class="footer-text">

          Technological School Electronic Systems - Sofia <br>
          &#169; Copyright 2016 - 2017. All Rights Reserved.
        </div>
      </div>
    </div>
    <script src="other_pages_other/footer_nav.js"></script>
    <script src="other_pages_other/container_js.js"></script>

  </body>



</html>
