{% extends 'base.html' %}


{% block title %}Assigning Document{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/document_assign.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}


        <h1>Assigning {{ student.name }}'s document</h1>
        <div class="option-buttons">
          <table class="table" id="topic">
            <tr>
              <td><div class="prearranged">Prearranged</div></td>
              <td><div class="standard">Standard</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="prearranged-topic">
            <form id="prearranged-form" action=" {% url 'prearranged_handler' %}" method="post">
              {% csrf_token %}
              <script>
                var thesis_topics = [];
              </script>
              {% for thesis in thesis_topics %}
              <script>
               thesis_topics.push("{{thesis.name}}");
              </script>
              {% endfor %}

              <label for="Thesis">Thesis:</label><br>
              <input id="Thesis" type="text" name="Thesis"><br>
              <a><div class="submit">Submit</div></a>
              </form>
          </div>


          </div>
          <div class="standard-topic">
            <form>
              <div class="heading">
                1-st choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                2-nd choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                3-rd choice
              </div>
              Topic:<br> <input type="text" name="Topic" required><br>
              Supervisor:<br> <input type="text" name="Supervisor" required><br>
              <div class="heading">
                Average progress between 9-th and 11-th grade
              </div>
              Progress:<br> <input type="number" name="Progress" step="0.01"  min="2.00" max="6.00" required><br>

              <a href="#"><div class="submit">Submit</div></a>
            </form>
          </div>
        </div>
        <script src="{% static 'other_pages_other/container_js.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'other_pages_other/document_assign.js' %}"></script>


{% endblock %}
