{% extends 'base.html' %}


{% block title %}Listing{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/listing.css' %}">


{% endblock %}

{% block content %}
  {% load static %}

  <script src="{% static 'other_pages_other/container_js.js' %}"></script>
  <h1>Listing</h1>
  <div class="option-buttons">
    <table class="table" id="listing">
      <tr>
        <td><div class="students">Students</div></td>
        <td><div class="management">Management and Review</div></td>
        <td><div class="thesis">Thesis</div></td>
        <td><div class="commissions">Commissions</div></td>
      </tr>
    </table>
  </div>
  <div class="options">
    {% if students %}
    <div class="table-des students-listing">
      <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Class</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
              <td>{{ student.number }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.class_char }}</td>
              <td>Click</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>

              </td>
            </tr>
            <tr class="information-row">
              <td colspan="4" class="information-cell">
                <div class="edit">
                  <img class="edit-icon" src="{% static 'other_pages_other/edit-icon.png' %}" alt="edit-icon">
                </div>
                <div class="information">
                  <form action=" {% url 'update_student' student.id %}"  method="post">
                    {% csrf_token %}


                  <div class="first_row">
                    <span class="heading_row">Number:</span>
                    <input class="input-valid" type="text" name="Number" data-validation="number" data-validation-allowing="range[1;50]" value="{{ student.number }}"><br>
                    <text class="text-valid">{{ student.number }}</text><br>

                    <span class="heading_row">Name:</span>
                    <input class="input-valid" type="text" name="Name" data-validation="custom length" data-validation-regexp="^[\wа-яА-Я]\D+$"  data-validation-length="max300" value="{{ student.name }}"><br>
                    <text class="text-valid">{{ student.name }}</text><br>

                    <span class="heading_row">Class:</span>
                    <input class="input-valid" type="text" name="Class" data-validation="custom" data-validation-regexp="^[АБВГ]$" value="{{ student.class_char }}"><br>
                    <text class="text-valid">{{ student.class_char }}</text><br>

                    <span class="heading_row">Progress:</span>
                    <input class="input-valid" name="Progress" type="text" data-validation="number" data-validation-allowing="range[2.00;6.00],float" value="{{ student.progress }}"><br>
                    <text class="text-valid">{{ student.progress }}</text><br>


                    <span class="heading_row">Did hand the document:</span>
                    {{ student.handed_document_over }}<br>
                    <span class="heading_row">Did hand the assignment:</span>
                    {{ student.handed_assignment_over }}<br>
                    <span class="heading_row">Did hand the documentation:</span>
                    {{ student.handed_documentation_over }}<br>
                  </div>

                  <div class="second_row">
                    <span class="heading_row">Class Type:</span>
                    <input class="input-valid" type="text" name="Category" data-validation="custom length" data-validation-regexp="^[\wа-яА-Я]\D+$"  data-validation-length="max60" value="{{ student.category }}"><br>
                    <text class="text-valid">{{ student.category }}</text><br>

                    {% if student.current_thesis %}
                      <span class="heading_row">Assigned Supervisor:</span>
                      {{ student.current_thesis.supervisor }}<br>

                      <span class="heading_row">Thesis:</span>
                      <input class="remove" name="thesis-remove" value="false">
                      <div class="thesis-information">{{ student.current_thesis }}</div><div class="remove-icon">X</div><br>
                    {% endif %}

                    {% if student.assigned_reviewer %}
                      <span class="heading_row">Assigned Reviewer:</span>
                      <input class="remove" name="reviewer-remove" value="false">
                      <div class="reviewer-information">{{ student.assigned_reviewer }}</div><div class="remove-icon">X</div><br>
                    {% endif %}

                    <span class="heading_row">Current Period Of Studying:</span>
                    {{ student.study_period }}<br>

                    {% if student.choice_set.all %}
                      {% for choice in student.choice_set.all %}
                        <span class="heading_row">Choice {{ choice.number }} :</span>
                        {{ choice.thesis }}<br>

                      {% endfor %}
                    {% endif %}

                    {% if student.commission %}
                      <span class="heading_row">Commission:</span>
                        {{ student.commission.name }}<br>
                    {% endif %}

                    <a><div class="submit-form">Submit</div></a>

                  </div>
                </div>

              </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if man_review %}
    <div class="table-des management-listing">
      <table>
        <thead>
          <tr>
            <th>Titles</th>
            <th>Name</th>
            <th>Category</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
            {% for person in man_review %}
            <tr>
              <td>{{ person.titles }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.category }}</td>
              <td>Click</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            </tr>
            <tr class="information-row">
              <td colspan="4" class="information-cell">
                <div class="edit">
                  <img class="edit-icon" src="{% static 'other_pages_other/edit-icon.png' %}" alt="edit-icon">
                </div>
                <div class="information">
                  <form action=" {% url 'update_man_review' person.id %}"  method="post">
                  <div class="first_row">
                      {% csrf_token %}
                      <span class="heading_row">Personal Titles:</span>
                      <input class="input-valid" type="text" name="Title" data-validation="length custom" data-validation-length="max100" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ person.titles }}"><br>
                      <text class="text-valid">{{ person.titles }}</text><br>

                      <span class="heading_row">Name:</span>
                      <input class="input-valid" type="text" name="FullName" data-validation="length custom" data-validation-length="max300" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ person.name }}"><br>
                      <text class="text-valid">{{ person.name }}</text><br>

                      <span class="heading_row">Speciality:</span>
                      <input class="input-valid" type="text" name="Work" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ person.category }}"><br>
                      <text class="text-valid">{{ person.category }}</text><br>

                      <span class="heading_row">Workplace:</span>
                      <input class="input-valid" type="text" name="Category" data-validation="length custom" data-validation-length="max60" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ person.workplace }}"><br>
                      <text class="text-valid">{{ person.workplace }}</text><br>

                      {% if person.reviewer.all %}
                        <span class="heading_row">Reviewer to :</span><br>
                        {% for student in person.reviewer.all %}
                          <input class="remove" name="{{student.id}}-remove" value="false">
                          <div class="student-reviewer-information">{{ student.name }}</div><div class="remove-icon">X</div><br>
                        {% endfor %}


                        <span class="heading_row">Sum :</span>
                        {% if person.reviewer.all.count == 1 %}
                          {{ person.reviewer.all.count }} student<br>
                        {% else %}
                          {{ person.reviewer.all.count }} students<br>
                        {% endif %}

                      {% endif %}



                      {% if person.commission_set.all or person.commissioners.all %}
                        <span class="heading_row">In :</span>
                        {{ person.commission_set.all.count}} commissions - chairman<br>
                        {{ person.commissioners.all.count}} commissions - commissioner<br>

                      {% endif %}

                    </div>
                    <div class="second_row">
                      {% if person.supervisor.all %}
                        <span class="heading_row">Supervisor to :</span><br>
                        {% for student in person.supervisor.all %}
                          {{ student.name }}<br>
                        {% endfor %}

                        <span class="heading_row">Sum:</span>
                        {% if person.supervisor.all.count == 1 %}
                          {{ person.supervisor.all.count }} student<br>
                        {% else %}
                          {{ person.supervisor.all.count }} students<br>
                        {% endif %}
                      {% endif %}


                      {% if person.thesis_set.all %}
                      <span class="heading_row">Thesis Descriptions:</span><br>
                        {% for thesis in person.thesis_set.all %}
                          {{ thesis.name }}<br>

                        {% endfor %}
                      {% endif %}


                      <a><div class="submit-form">Submit</div></a>

                    </div>
                  </form>
                  </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
    {% if thesis_topics %}
    <div class="table-des thesis-listing">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Teacher</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
            {% for thesis in thesis_topics %}
            <tr>
              <td>{{ thesis.name }}</td>
              <td>{{ thesis.category }}</td>
              <td>{{ thesis.supervisor }}</td>
              <td>Click</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            </tr>
            <tr class="information-row">
              <td colspan="4" class="information-cell">
                <div class="edit">
                  <img class="edit-icon" src="{% static 'other_pages_other/edit-icon.png' %}" alt="edit-icon">
                </div>
                <div class="information">
                  <form action=" {% url 'update_thesis' thesis.id %}"  method="post">
                    {% csrf_token %}
                    
                  <div class="first_row">


                    <span class="heading_row">Description:</span>
                    <input class="input-valid" type="text" name="ThesisDescription" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ thesis.name }}"><br>
                    <text class="text-valid">{{ thesis.name }}</text><br>


                    <span class="heading_row">Type:</span>
                    <input class="input-valid" type="text" name="Category" data-validation="length custom" data-validation-length="max60" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ thesis.category }}"><br>
                    <text class="text-valid">{{ thesis.category }}</text><br>

                    <span class="heading_row">Assigned Supervisor:</span>
                    {{ thesis.supervisor }}<br>
                    </div>
                  <div class="second_row">

                    {% if thesis.student_set.all %}
                      <span class="heading_row">Assigned to :</span><br>
                      {% for student in thesis.student_set.all %}
                        {{ student.name }}<br>
                      {% endfor %}
                    {% endif %}

                    <a><div class="submit-form">Submit</div></a>
                  </div>

                </form>
                </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    {% if commissions %}
    <div class="table-des commissions-listing">
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Place</th>
            <th>Date</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
            {% for commission in commissions %}
            <tr>
              <td>{{ commission.category }}</td>
              <td>{{ commission.place }}</td>
              <td>{{ commission.date}} {{ commission.time}} </td>
              <td>Click</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            </tr>
            <tr class="information-row">
              <td colspan="4" class="information-cell">
                <div class="edit">
                  <img class="edit-icon" src="{% static 'other_pages_other/edit-icon.png' %}" alt="edit-icon">
                </div>
                <div class="information">
                  <div class="first_row">
                    <span class="heading_row">Chairman:</span>
                    {{ commission.chairman }}<br>
                    <span class="heading_row">Commissioners:</span><br>
                      {% for commissioner in commission.commissioners.all %}
                        {{ commissioner.name }}<br>
                      {% endfor %}

                    <span class="heading_row">Type:</span>
                    {{ commission.category }}<br>

                    <span class="heading_row">Place:</span>
                    <input class="input-valid" type="text" name="Place" data-validation="length custom" data-validation-length="max50" data-validation-regexp="^[\wа-яА-Я]\D+$" value="{{ commission.place }}"><br>
                    <text class="text-valid">{{ commission.place }}</text><br>

                    <span class="heading_row">When:</span>
                    <input class="input-valid" type="text" class="datepicker" name="Date" id="4">
                    <text class="text-valid">{{ commission.date }} {{ commission.time }}</text><br>
                  </div>

                  <div class="second_row">
                    <span class="heading_row">Students:</span><br>
                      {% for student in commission.commission.all %}
                        <input class="remove" name="{{student.id}}-remove" value="false">
                        <div class="student-commission-information">{{ student.name }}</div><div class="remove-icon">X</div> <br>
                      {% endfor %}
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>

<script src="{% static 'other_pages_other/container_js.js' %}"></script>
<script src="{% static 'other_pages_other/listing.js' %}"></script>




{% endblock %}
