{% extends 'base.html' %}


{% block title %}Listing{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/listing.css' %}">


{% endblock %}

{% block content %}
  {% load static %}

  <script src="{% static 'other_pages_other/container_js.js' %}"></script>
  <h1>Listing</h1>
  <div class="option-buttons">
    <table class="table" id="listing">
      <tr>
        <td><div class="students">Students</div></td>
        <td><div class="managment">Managment and Review</div></td>
        <td><div class="thesis">Thesis</div></td>
        <td><div class="commissions">Commissions</div></td>
      </tr>
    </table>
  </div>
  <div class="options">
    <div class=" table-des students-listing">
      <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Class</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
          {% if students %}
            {% for student in students %}
            <tr>
              <td>{{ student.number }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.class_char }}</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            <tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="table-des managment-listing">
      <table>
        <thead>
          <tr>
            <th>Titles</th>
            <th>Name</th>
            <th>Category</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
          {% if man_review %}
            {% for person in man_review %}
            <tr>
              <td>{{ person.titles }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.category }}</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            <tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="table-des thesis-listing">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Teacher</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
          {% if thesis_topics %}
            {% for thesis in thesis_topics %}
            <tr>
              <td>{{ thesis.name }}</td>
              <td>{{ thesis.category }}</td>
              <td>{{ thesis.supervisor }}</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            <tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="table-des commissions-listing">
      <table>
        <thead>
          <tr>
            <th>Type</th>
            <th>Place</th>
            <th>Date</th>
            <th>See more</th>
          </tr>
        </thead>
        <tbody>
          {% if commissions %}
            {% for commission in commissions %}
            <tr>
              <td>{{ commission.category }}</td>
              <td>{{ commission.place }}</td>
              <td>{{ commission.time}} {{ commission.when}}</td>
              <td>Yes</td>
            </tr>
            <tr>
              <td colspan="4" class="border">
                <div class="box">
                  <hr>
                </div>
              </td>
            <tr>  <tr>
                <td>{{ commission.category }}</td>
                <td>{{ commission.place }}</td>
                <td>{{ commission.time}} {{ commission.when}}</td>
                <td>Yes</td>
              </tr>
              <tr>
                <td colspan="4" class="border">
                  <div class="box">
                    <hr>
                  </div>
                </td>
              <tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="{% static 'other_pages_other/container_js.js' %}"></script>



{% endblock %}
