{% extends 'base.html' %}


{% block title %}Listing{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/listing.css' %}">


{% endblock %}

{% block content %}
  {% load static %}

  <script src="{% static 'other_pages_other/container_js.js' %}"></script>
  <h1>Listing</h1>
  <div class="option-buttons">
    <table class="table" id="listing">
      <tr>
        <td><div class="students">Students</div></td>
        <td><div class="managment">Managment and Review</div></td>
        <td><div class="thesis">Thesis</div></td>
        <td><div class="commissions">Commissions</div></td>
      </tr>
    </table>
  </div>
  <div class="options">
    <div class="students-listing">
      Students
    </div>
    <div class="managment-listing">
      ManagmentAndReview
    </div>
    <div class="thesis-listing">
      Thesis
    </div>

    <div class="commissions-listing">
      Commissions
    </div>
  </div>
</div>

<script src="{% static 'other_pages_other/container_js.js' %}"></script>



{% endblock %}
