{% extends 'base.html' %}


{% block title %}Manage Years{% endblock %}

{% block extra_head %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/man_years.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
{% endblock %}

{% block content %}

  {% load static %}

    <h1> Managing school years</h1>
    <div class="option-buttons">
      <table class="table" id="a-year">
        <tr>
          <td><div class="save">Save</div></td>
          <td><div class="load">Load</div></td>
          <td><div class="delete">Delete</div></td>
        </tr>
      </table>
    </div>
    <div class="options">
      <div class="save-a-year">
          <form id="thesis-form" action=" {% url 'saving_database' %}" method="post">
            {% csrf_token %}
            <label for="SaveYear">Choose a name and click submit:</label><br>
            <input id="SaveYear" type="text" name="SaveYear" data-validation="length custom" data-validation-length="max60" data-validation-regexp="^[^-\s][a-zA-Z0-9_\s-]+$"><br>
            <a><div class="submit">Submit</div></a>
          </form>
      </div>
      <div class="load-a-year">
        <p> If you load a year and you did not save the current progress, all current data will be lost!</p>
        <table class="simple-table">
          <tr>
            <th>Name</th>
          </tr>
          {% if archives %}
            {% for archive in archives %}
            <tr>
              <td>{{ archive }}</td>
            </tr>
            {% endfor %}

          {% endif %}

        </table>
        <a href="#"><div class="submit load-button">Load</div></a>


      </div>
      <div class="delete-a-year">
        <p> If you select and click "Delete" - there is no turning back and the selected year would be deleted!</p>
        <table class="simple-table">
          <tr>
            <th>Name</th>
          </tr>
          <tr>
            <td>Fredy</td>
          </tr>
          <tr>
            <td>Fredy</td>
          </tr>
        </table>

        <a href="#"><div class="submit delete-button">Delete</div></a>

      </div>
      <script src="{% static 'other_pages_other/container_js.js' %}"></script>
    </div>
{% endblock %}
