{% extends 'base.html' %}


{% block title %}New School Year{% endblock %}

{% block extra_head %}
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/new_year.css' %}">
{% endblock %}

{% block content %}

  {% load static %}
        <h1> Oops...</h1>
        <h2> You are about to finish the current year</h2>

        <p> If you are certain or you are starting a new year without having current,enter the new year period in the field below and click "Yes" and , otherwise, click "No"! You can always
            return if you have made a mistake. Just check Managing Years for loading.
        </p>

        <form action="" method="post">
          {% csrf_token %}
         <div class="message"></div>
         <input type="text" name="Period" data-validation="length custom" data-validation-length="max15" data-validation-regexp="^[0-9-]+$"><br>

         <div class="buttons">
            <div class="first"><a><div class="tick"></div></a></div>
            <div class="second"><a href="{% url 'admin_homepage' %}"><div class="cross"></div></a></div>
          </div>
        </form>


        <script src="{% static 'other_pages_other/new_year.js' %}"></script>

{% endblock %}
