{% extends 'base.html' %}


{% block title %}Reviewer Assign{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/reviewer_assign.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}

  {% load static %}
    <h1>Assigning {{ student.name }}'s reviewer</h1>
    <div class="assign">

      <form id="reviewer-form" action=" {% url 'reviewer_connect' %}" method="post">
        {% csrf_token %}
        <script>
          var all_reviewers = [];
        </script>
        {% for reviewer in reviewers %}
        <script>
         var rev ={
            id: "{{reviewer.id}}",
            value: "{{reviewer.name}}"
         };
         all_reviewers.push(rev);
        </script>

        {% endfor %}
        <label for="Reviewer">Reviewer:</label><br>
        <input id="Reviewer" type="text" name="Reviewer"><br>
        <input id="ReviewerId" type="text" name="ReviewerId">
        <p class="error-msg"> Input doesn't exist </p>
        <a><div class="submit-reviewer">Submit</div></a>
      </form>



    </div>

    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'other_pages_other/reviewer_assign.js' %}"></script>

{% endblock %}
