{% extends 'base.html' %}


{% block title %}Upload Supervisors And Reviewers{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/upload_supervisors.css' %}">
{% endblock %}

{% block content %}

  {% load static %}
        <h1>Uploading supervisors and reviewers</h1>
        <div class="option-buttons">
          <table class="table" id="a-supervisor">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-supervisor">

            <form id="supervisor-form" action=" {% url 'supervisor_handler' %}" method="post">
              {% csrf_token %}
              <label for="Title">Titles:</label><br>
              <input id="Title" type="text" name="Title" data-validation="length custom" data-validation-length="max100" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="FullName">Full Name:</label><br>
              <input id="FullName" type="text" name="FullName" data-validation="length custom" data-validation-length="max300" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Work">Place of Work:</label><br>
              <input id="Work" type="text" name="Work" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Category">Category:</label><br>
              <input id="Category" type="text" name="Category" data-validation="length custom" data-validation-length="max60" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <a><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-supervisor">
            <p> Select a file you wish to upload. Be sure that the file is in csv format and less than 500MB!</p>

            <form enctype="multipart/form-data" action=" {% url 'supervisor_file_handler' %}" method="post" >
              {% csrf_token %}
              <input type="file" name="text_csv" data-validation="required size extension" data-validation-max-size="500M" data-validation-allowing="csv"
              data-validation-error-msg-required="Required field!"
              data-validation-error-msg-extension="Upload csv"
              data-validation-error-msg-size="You cannot upload more than 500mb file">
              <a><div class="submit">Submit</div></a>
          </div>
        </div>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
{% endblock %}
