{% extends 'base.html' %}


{% block title %}Upload Students{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/upload_students.css' %}">
{% endblock %}

{% block content %}

        <h1>Uploading students</h1>
        <div class="option-buttons">
          <table class="table" id="a-student">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-student">

            <form id="student-form" action=" {% url 'student_handler' %}" method="post">
              {% csrf_token %}
              <label for="FullName">Full Name:</label><br>
              <input id="FullName" type="text" name="FullName" data-validation="custom length" data-validation-regexp="^[\wа-яА-Я]\D+$"  data-validation-length="max300"><br>
              <label for="Class">Class: (Just enter the correct letter of the class)</label><br>
              <input id="Class" type="text" name="Class" data-validation="custom" data-validation-regexp="^[\wа-яА-Яa-zA-Z]$"><br>
              <label for="Number">Number:</label><br>
              <input id="Number" type="text" name="Number" data-validation="number" data-validation-allowing="range[1;50]"><br>
              <label for="Category">Class Type:</label><br>
              <input id="Category" type="text" name="Category" data-validation="custom length" data-validation-regexp="^[\wа-яА-Я]\D+$"  data-validation-length="max60"><br>

              <a><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-student">
            <p> Select a file you wish to upload. Be sure that the file is in csv format and less than 500MB!</p>

            <form enctype="multipart/form-data" action=" {% url 'file_handler' %}" method="post" >
              {% csrf_token %}
              <input type="file" name="text_csv" data-validation="required size extension" data-validation-max-size="500M" data-validation-allowing="csv"
              data-validation-error-msg-required="Required field!"
              data-validation-error-msg-extension="Upload csv"
              data-validation-error-msg-size="You cannot upload more than 500mb file">
              <a><div class="submit">Submit</div></a>
            </form>

          </div>
      </div>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
{% endblock %}
