{% extends 'base.html' %}


{% block title %}Upload Thesis{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/upload_thesis.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}

{% block content %}

  {% load static %}
        <h1>Uploading thesis topics</h1>
        <div class="option-buttons">
          <table class="table" id="a-thesis">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-thesis">

            <form id="thesis-form" action=" {% url 'thesis_handler' %}" method="post">
              {% csrf_token %}

              <script>
                var supervisors = [];
                var thesis_topics = [];
              </script>
              {% for thesis in thesis_topics %}
                <script>
                  thesis_topics.push("{{thesis.name}}");
                </script>
              {% endfor %}

              {% for supervisor in supervisors %}
                <script>
                 supervisors.push("{{supervisor.name}}");
                </script>
              {% endfor %}
              <label for="ThesisDescription">Descripion:</label><br>
              <input id="ThesisDescription" type="text" name="ThesisDescription" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Category">Thesis Type:</label><br>
              <input id="Category" type="text" name="Category" data-validation="length custom" data-validation-length="max60" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Supervisor">Supervisor:</label><br>
              <input id="Supervisor" type="text" name="Supervisor" data-validation="length custom" data-validation-length="max300" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>

              <a><div class="submit-thesis">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-thesis">

              <p> Select a file you wish to upload. Be sure that the file is in csv format and less than 500MB!</p>

              <form enctype="multipart/form-data" action=" {% url 'thesis_file_handler' %}" method="post" >
                {% csrf_token %}
                <input type="file" name="text_csv" data-validation="required size extension" data-validation-max-size="500M" data-validation-allowing="csv"
                data-validation-error-msg-required="Required field!"
                data-validation-error-msg-extension="Upload csv"
                data-validation-error-msg-size="You cannot upload more than 500mb file">
                <a><div class="submit">Submit</div></a>

          </div>
        </div>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'other_pages_other/upload_thesis.js' %}"></script>
{% endblock %}
