{% extends 'base.html' %}


{% block title %}Upload Reviewers{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/upload_reviewers.css' %}">
{% endblock %}

{% block content %}

  {% load static %}
        <h1>Uploading reviewers</h1>
        <div class="option-buttons">
          <table class="table" id="a-reviewer">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-reviewer">

            <form id="reviewer-form" action=" {% url 'reviewer_handler' %}" method="post">
              {% csrf_token %}
              <label for="FullName">Full Name:</label><br>
              <input id="FullName" type="text" name="FullName" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Title">Titles:</label><br>
              <input id="Title" type="text" name="Title" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <label for="Work">Place of Work:</label><br>
              <input id="Work" type="text" name="Work" data-validation="length custom" data-validation-length="max200" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <a><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-reviewer">
            <p> Select a file you wish to upload. Be sure that the file is in csv format!</p>

            <form action=" {% url 'file_handler' %}" method="post">
              {% csrf_token %}
              <input type="file" name="reviewer">
              <a><div class="submit upload-button">Upload</div></a>
            </form>
          </div>
        </div>
      </div>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>

{% endblock %}
