{% extends 'base.html' %}


{% block title %}Upload Thesis{% endblock %}

{% block extra_head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/container_css.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'other_pages_other/upload_thesis.css' %}">
{% endblock %}

{% block content %}

  {% load static %}
        <h1>Uploading thesis topics</h1>
        <div class="option-buttons">
          <table class="table" id="a-thesis">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-thesis">

            <form id="thesis-form" action=" {% url 'thesis_handler' %}" method="post">
              {% csrf_token %}
              <label for="ThesisDescription">Descripion:</label><br>
              <input id="ThesisDescription" type="text" name="ThesisDescription" data-validation="custom" data-validation-regexp="^[\wа-яА-Я]\D+$"><br>
              <section class="section">
                <div class="bin">
                  <input type="radio" name="software-hardware" id="sys" value="0" checked>
                  <label for="sys">
                    <span class="radio">System Programming</span>
                  </label>
                </div>
                <div class="bin">
                  <input type="radio" name="software-hardware" id="net" value="1">
                  <label for="net">
                    <span class="radio">Computer Networks</span>
                  </label>
                </div>
                <div class="bin">
                  <input type="radio" name="software-hardware" id="mix" value="2">
                  <label for="mix">
                    <span class="radio">Mixed</span>
                  </label>
                </div>
              </section>
              <a><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-thesis">



            <p>Chose a teacher you wish to link the thesis topic with:</p>

            <input type="text" name="search" >
            <div class="bottom-p">
              <p> Select a file you wish to upload. Be sure that the file is in csv format!</p>
            </div>
            <input type="file">


            <a href="#"><div class="submit upload-button">Upload</div></a>
          </div>
        </div>
    <script src="{% static 'other_pages_other/container_js.js' %}"></script>
{% endblock %}
