<!DOCTYPE html>
<html>
  <head>
    <title> Upload Thesis Topics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="other_pages_other/footer_nav.css">
    <link rel="stylesheet" type="text/css" href="other_pages_other/container_css.css">
    <link rel="stylesheet" type="text/css" href="other_pages_other/upload_thesis.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body class="none">
    <div class="container">
      <ul class="nav" id="navigation">
        <li id="icon" class="icon" onclick="myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </li>
        <li id="finyear"><a href="#news">Manage Years</a></li>
        <li id="newyear"><a href="#contact">Start A School Year</a></li>
        <li id="greetings"><a href="#about">Welcome, ...</a></li>
      </ul>

      <div id="sidenav" class="sidenav">
        <a href="#">Upload Students</a>
        <a href="#">Upload Teachers</a>
        <a href="#">Upload Thesis Topics</a>
        <a href="#">Upload Reviewers</a>
        <a href="#">Listing</a>
        <a href="#">Exit</a>
        <div class="document">
          <div id="bubble1"></div>
          <div id="bubble2"></div>
          <div id="bubble3"></div>
        </div>
      </div>



      <div class="main-content" id="main">
        <h1>Uploading thesis topics</h1>
        <div class="option-buttons">
          <table class="table" id="a-thesis">
            <tr>
              <td><div class="add">Add</div></td>
              <td><div class="upload">Upload</div></td>
            </tr>
          </table>
        </div>
        <div class="options">
          <div class="add-a-thesis">

            <form id="thesis-form">
              Thesis Name:<br>
              <input type="text" name="ThesisName" required><br>
              Teacher:<br>
              <input type="text" name="Teacher" required><br>
              <section class="section">
                <div class="bin">
                  <input type="radio" name="software/hardware" id="sys" required>
                  <label for="sys">
                    <span class="radio">System Programming</span>
                  </label>
                </div>
                <div class="bin">
                  <input type="radio" name="software/hardware" id="net" required>
                  <label for="net">
                    <span class="radio">Computer Networks</span>
                  </label>
                </div>
                <div class="bin">
                  <input type="radio" name="software/hardware" id="mix" required>
                  <label for="mix">
                    <span class="radio">Mixed</span>
                  </label>
                </div>
              </section>
              <a href="#"><div class="submit">Submit</div></a>
            </form>

          </div>
          <div class="upload-a-thesis">



            <p>Chose a teacher you wish to link the thesis topic with:</p>

            <input type="text" name="search" >
            <div class="bottom-p">
              <p> Select a file you wish to upload. Be sure that the file is in csv format!</p>
            </div>
            <input type="file">


            <a href="#"><div class="submit upload-button">Upload</div></a>
          </div>
        </div>

      </div>




      <div class="footer">
        <div class="line1"></div>
        <div class="line2"></div>
        <a href="http://www.elsys-bg.org/">
          <img src="http://www.elsys-bg.org/wp-content/themes/elsys/images/logo.png" alt="Elsys Logo">
        </a>
        <div class="footer-text">

          Technological School Electronic Systems - Sofia <br>
          &#169; Copyright 2016 - 2017. All Rights Reserved.
        </div>
      </div>
    </div>
    <script src="other_pages_other/footer_nav.js"></script>
    <script src="other_pages_other/container_js.js"></script>

  </body>



</html>
